.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* You can adjust the width value as needed */
.swal2-popup.square-popup {
  width: 350px !important;
  border-radius: 8px;
  padding: 20px;
}

/* Style the confirm button */
.swal2-confirm.custom-confirm-button {
  background-color: #005AE6 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
  font-weight: 500;
}

.swal2-cancel.custom-cancel-button {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid #A3A3A3 !important;
  font-weight: 500;
  
}

