@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
body{
  background-color: #f9fafb;
  font-family: "Inter",sans-serif;
  letter-spacing: .05rem;
  overflow: scroll;
}